header> h1 { 
    text-align: center;
}

.main-container{
    display: flex;
}

body{
    background-image: url(https://i.pinimg.com/236x/c0/9f/3a/c09f3a231467313aba336ca07a5f5fe1.jpg);
    background-size: cover;
}

/* Display Style */
.container-item {
    width: 100%;
    padding: 24px;
    text-align: center;
    align-items: center;
    border-radius: 30px;
}

.container-item>h2{
    text-align: center;
}

.container-result,
.container-form{
    text-align: center;
    background-color: aqua;
    padding-top: 8px;
    padding-bottom: 24px;
    border-radius: 16px;
}

.form-item{
    height: 24px;
    border: 8px;
    border-radius: 8px;
    background-color: white;
}

.container-form>div{
    padding: 8px;
}

.container-form{
    text-align: left;
    background-color: aqua;
    padding: 24px;
    border-radius: 16px;
}

button{
    border: 0px;
    height: 32px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: lightgreen;
    border-radius: 8px;
}

#calculate-button{
    background-color: coral;
    color: white;
}

#text {
    display: flex;
}

@media only screen and (max-width: 480px) {
    .main-container {
        flex-direction: column;
    }
}

